@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Asap', sans-serif;

}

.full-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background:white;
    align-items: center;
    justify-content: center;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    background-color: #384047;
    width: 290px;
    height: 90px;
    word-wrap: break-word;
    word-break: break-all;
    color: #747574;
    padding: 5px;
    font-family: 'Asap', sans-serif;
}


.numbers {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    font-family: 'Asap', sans-serif;
}

#clear {
    width: 150px;
    background-color: #272b2e;
    color: #7a451d;
    font-weight: bold;
}

#delete {
    background-color: #272b2e;
}

#equal {
    width: 150px;
    background-color: #272b2e;
}

#plus, #minus, #multiply, #division {
    background-color: #272b2e;
}

button {
    width: 75px;
    background-color: #1b1e26;
    color: #f5f5f5;
    padding: 10px;
    font-size: 18px;;
}
